{% extends "padre.html" %}
  {% block mensaje %}
    Página principal
  {% endblock %}
  
  {% block central %}
      <h2>Página principal</h2>

      <p>Lorem ipsum papel higiénico dolor sit amet, armas consectetur munición adipiscing elit. Duis blandit maximus magna, id pulvinar leo elementum nec. Phasellus quis pharetra diam. Maecenas tristique mattis ultrices. Quisque maximus tempus gravida. Quisque in hendrerit dolor. Nulla lorem dolor, accumsan nec fermentum id, tristique in ante. Vestibulum lectus nisl, commodo in magna vel, feugiat fringilla enim. Fusce in sem pellentesque, porta arcu nec, feugiat libero. <a href="evento.html">Enlace a evento</a>.</p>
      
      <p>Croin lacinia, mauris vitae feugiat accumsan, mauris massa vestibulum neque, vel convallis ligula lacus sit amet velit. Cras lobortis lorem lorem, at accumsan augue tincidunt nec. Fusce tristique fermentum purus, et consequat arcu lobortis id. Maecenas a mattis arcu. Donec dignissim nunc non egestas imperdiet. Aenean erat erat, ultricies nec dolor ac, commodo consectetur odio.</p>

      <p>Ounc lobortis lacinia sem sollicitudin tempor. Nunc consequat, lacus eu sagittis accumsan, sem libero commodo turpis, eget ultrices orci nulla et sapien. Nullam sed metus vitae mauris rhoncus vulputate. Mauris hendrerit lobortis nibh quis rutrum. Praesent vitae ullamcorper nulla. Phasellus cursus, mauris quis convallis aliquet, lacus turpis suscipit urna, quis interdum arcu sapien quis nisi. Nullam nec ante at diam condimentum placerat. Aenean et orci commodo, lobortis lectus nec, porttitor orci.</p>
      
      <p>Vestibulum nibh mi, pulvinar ac sagittis ac, vehicula pretium metus. Nunc at bibendum nulla. Fusce vestibulum nunc sed felis elementum, id venenatis dui finibus. Vivamus at gravida dui. Etiam iaculis mi sit amet fringilla ultrices. Donec eget ultrices ligula, vel vulputate nisl. Proin fermentum sed neque a bibendum. Fusce ornare, tortor eget tristique suscipit, lorem turpis porttitor magna, ac accumsan odio quam ac nisl.</p>

      <p>In dignissim tellus rutrum tellus efficitur, a aliquet odio commodo. Aenean aliquet turpis sed aliquet gravida. Sed non elit at tortor faucibus ultricies. Ut faucibus eu nibh ac consectetur. Maecenas in varius eros. Morbi ac porta massa. Mauris risus est, pharetra ut suscipit ac, posuere a lorem. Suspendisse malesuada leo sit amet auctor fringilla. Praesent ac nulla accumsan, commodo lorem a, iaculis nisl. Aenean sodales suscipit ultrices. Sed vel risus in lacus porttitor facilisis. Nunc ex eros, sodales in rhoncus a, efficitur vel ipsum.</p>

      <p>Dusce varius vel urna nec molestie. Nullam et libero ornare, luctus justo non, rutrum felis. Pellentesque venenatis justo a enim convallis, in lacinia metus maximus. Nam pellentesque aliquam felis mattis mollis. Morbi ornare risus elit, sit amet lacinia lacus semper vel. Quisque bibendum eu mi a euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae lobortis arcu. Ut lobortis arcu nec nisl dapibus, a posuere dolor malesuada. Morbi vel dui tristique, volutpat libero a, finibus urna. Sed et elit nec mauris varius ultricies non vitae lacus. Aenean faucibus tincidunt quam id vulputate.</p>
  {% endblock %}
