{% extends "base.html" %}

            {% block estilo %}
            <link rel="stylesheet" href="{{ estilo }}" type="text/css">
            
            {% endblock %}


            {% block comentarios %}

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div id="comentarios_">
                    COMENTARIOS
                </div>
                
                <section class="lista_comentarios">
                    {% if comentarios %}
                        {% for coment in comentarios %}
                            <div class="comentario">
                                <h4>
                                    {{ coment['user'] }}:
                                </h4>
                                {% if usuario['tipo'] == "MOD" or usuario['tipo'] == "SUPER" %}
                                <a class="btn_comentario" href="eliminarcomentario.php?id={{ coment['comentario'] }}&ev={{ evento['evento'] }}">&times;</a>
                                <a href="javascript:void(0)" class="btn_comentario" onclick="openEditar({{ coment['comentario'] }})">Editar</a>
                                {% endif %}
                                <p class="texto_comentario">
                                    {{ coment['contenido'] }}
                                </p>
                                {% if usuario['tipo'] == "MOD" or usuario['tipo'] == "SUPER" %}
                                    <form class="editar_comentario" id="editar_comentario{{ coment['comentario'] }}" action="editarcomentario.php?id={{ coment['comentario'] }}&ev={{ evento['evento'] }}" method="POST">
                                        <label for="msg">Edicion</label>
                                        <textarea id="msg_edit" name="msg_edit" placeholder="Edita el comentario..." required>{{ coment['contenido'] }}</textarea>
                                        <input type="submit" value="EDITAR"></input>
                                    </form>
                                {% endif %}
                                {% if coment['editado'] %}
                                <p class="comentario_editado">
                                    Editado por mod.
                                </p>
                                {% endif %}
                                <p class="fecha_comentario">
                                    {{ coment['fecha'] }}
                                </p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="comentario">
                            <h4>
                                Aún no hay nada aqui:
                            </h4>
                            <p class="texto_comentario">
                                Puedes dejar tu comentario rellenando el formulario de abajo!!
                            </p>
                            
                        </div>
                    {% endif %}
                </section>    

                {% if usuario %}
                <form class="form_comentario" action="insertarComentario.php?ev={{ evento['evento'] }}" method="POST">
                        <label for="msg">Comentario</label>
                        <textarea id="msg" name="msg" placeholder="Escribe tu comentario..." onkeyup="censurar(event)" required></textarea>

                        <input type="submit" value="ENVIAR"></input>
                </form>
                {% endif %}
                
                
            </div>

            <div class="boton_comentarios" onclick="openNav()">
                <img src="https://img.icons8.com/small/452/comments.png" alt="Comentarios">
            </div>

            {% endblock %}


            {% block contenido %}

            <section class="info">
                <div class="informacion_evento">
                    <h1>
                        {{ evento['nombre'] }}<br>
                        {% if usuario['tipo'] == "SUPER" or usuario['tipo'] == "GESTOR" %}
                        {% if not evento['publicado'] %}
                        EVENTO NO PUBLICADO
                        {% endif %}
                        {% endif %}
                    </h1>
                    {% for etiqueta in etiquetas %}
                        <a id="etiqueta">{{etiqueta['etiqueta']}}</a>
                    {% endfor %}
                    <h5>
                        {{ evento['contenido'] }}
                    </h5>

                    <a href="http://twitter.com/rowesito">
                        <img class="social_button" src="img/twitterlogo.png">
                    </a>

                    <a href="http://facebook.com">
                        <img class="social_button" src="img/facebooklogo.png">
                    </a>

                    <a href="evento.php?ev={{ evento['evento'] }}&sty=1">
                        <img class="social_button" src="img/printer.png">
                    </a>

                    {% if usuario['tipo'] == "SUPER" or usuario['tipo'] == "GESTOR" %}
                    <a href="gestorevento.php?idEv={{ evento['evento'] }}">
                        <img class="social_button" src="img/edit.png">
                    </a>
                    <br><br>
                    <a>
                        <form action="eliminarevento.php" method="POST">
                            <button id="boton_eliminar_evento" type="submit" name="idEv" value="{{ evento['evento'] }}">
                                Eliminar evento
                            </button>
                        </form>
                        
                    </a>
                    {% endif %}
                </div>
                <div class="fotos_evento">
                    {% for foto in fotos %}
                    <img class="imagen_evento" src="{{ foto['direccion'] }}">

                    {% endfor %}
                    
                </div>               
            </section>

            {% endblock %}