{% extends "base.html" %}


            {% block comentarios %}

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div id="comentarios_">
                    COMENTARIOS
                </div>
                <section class="lista_comentarios">
                    <div class="comentario">
                        <h4>
                            Antonia Perez:
                        </h4>
                        <p class="texto_comentario">
                            Que ganas tengo de que llegue!
                        </p>
                        <p class="fecha_comentario">
                            04/02/2020 16:56
                        </p>
                    </div>
                    <div class="comentario">
                        <h4>
                            Marina Hernandez Bautista:
                        </h4>
                        <p class="texto_comentario">
                            Me he gastado todos mis ahorros en esto espero que valga la pena
                        </p>
                        <p class="fecha_comentario">
                            06/02/2020 21:34
                        </p>
                    </div>
                </section>    

                <div class="form_comentario">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="user_name">

                        <label for="mail">Email</label>
                        <input type="text" id="mail" name="user_mail">

                        <label for="msg">Comentario</label>
                        <textarea id="msg" name="user_message" placeholder="Escribe tu comentario..." onkeyup="censurar(event)"></textarea>

                        <input type="button" onclick="addComentario(event)" value="ENVIAR"></input>
                </div>
                
                
            </div>

            <div class="boton_comentarios" onclick="openNav()">
                <img src="https://img.icons8.com/small/452/comments.png" alt="Comentarios">
            </div>

            {% endblock %}


            {% block contenido %}

            <section class="info">
                <div class="informacion_evento">
                    <h1>
                        {{ evento['nombre'] }}
                    </h1>
                    <h5>
                        {{ evento['contenido'] }}
                    </h5>

                    <a href="http://twitter.com/rowesito">
                        <img class="social_button" src="img/twitterlogo.png">
                    </a>

                    <a href="http://facebook.com">
                        <img class="social_button" src="img/facebooklogo.png">
                    </a>

                    <a href="imprimir.html">
                        <img class="social_button" src="img/printer.png">
                    </a>
                </div>
                <div class="fotos_evento">
                    {% for foto in fotos %}
                    <img class="imagen_evento" src="{{ foto['direccion'] }}">

                    {% endfor %}
                    
                </div>               
            </section>

            {% endblock %}